SERVER_PORT=3000
MONGODB_CONNECTION=mongodb://localhost:27017/
MONGODB_DB_NAME=twilio_call_app
TWILIO_ACCOUNT_SID=
TWILIO_API_KEY=
TWILIO_API_SECRET=
TWILIO_TWIML_APP_SID=
FROM_NUMBER=+12056710246
STRIPE_TEST_PUB=
STRIPE_TEST_SECRET=
